<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create news</title>

</head>
<body>
 <h2>News creator</h2>
<form action="#" th:action = "@{news-create}" th:object = "${news}" method="post">
    <label for= "author">Author name</label>
    <input type="text" th:field = *{author} id="author" placeholder="Write the author name ">
    <label for= "title">Title is</label>
    <input type="text" th:field = *{title} id="title" placeholder="Name of you'r title ">
    <label for= "description"> Description</label>
    <input type="text" th:field = *{description} id="description" placeholder="Tell us about news" >


    <input type="submit" value="Create news">

</form>

</body>
</html>